@page
@model IndexModel
@{
    ViewData["Title"] = "Блог";
}

@for (int i = 0; i < Model.PostsCount; i+=3)
{
<div class="row" style="margin-top: 15px">
    @if (i < Model.PostsCount)
    {
        <a asp-page="SubPages/BlogPost" asp-route-id="@Model.Posts[i].PostContentId">
            <div class="col-lg-4 preview">
                <img src="@String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(Model.Posts[i].PreviewImage))" width="100%" height="100%" />
                <p class="blogtitle">@Model.Posts[i].Title</p>
                <p class="blogcreatetime">@Model.Posts[i].CreateDateTime.Day @Model.Posts[i].CreateDateTime.ToString("MMM"), @Model.Posts[i].CreateDateTime.ToString("ddddd")</p>
                <p class="blogpreview">@Model.Posts[i].PreviewText</p>
            </div>
        </a>
    }
    @if (i + 1 < Model.PostsCount)
    {
        <a asp-page="SubPages/BlogPost" asp-route-id="@Model.Posts[i + 1].PostContentId">
            <div class="col-lg-4 preview">
                <img src="@String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(Model.Posts[i + 1].PreviewImage))" width="100%" height="100%" />
                <p class="blogtitle">@Model.Posts[i + 1].Title</p>
                <p class="blogcreatetime">@Model.Posts[i + 1].CreateDateTime.Day @Model.Posts[i].CreateDateTime.ToString("MMM"), @Model.Posts[i + 1].CreateDateTime.ToString("ddddd")</p>
                <p class="blogpreview">@Model.Posts[i + 1].PreviewText</p>
            </div>
        </a>
    }
    @if (i + 2 < Model.PostsCount) { 
    <a asp-page="SubPages/BlogPost" asp-route-id="@Model.Posts[i + 2].PostContentId">
        <div class="col-lg-4 preview">
            <img src="@String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(Model.Posts[i + 2].PreviewImage))" width="100%" height="100%" />
            <p class="blogtitle">@Model.Posts[i + 2].Title</p>
            <p class="blogcreatetime">@Model.Posts[i + 2].CreateDateTime.Day @Model.Posts[i].CreateDateTime.ToString("MMM"), @Model.Posts[i + 2].CreateDateTime.ToString("ddddd")</p>
            <p class="blogpreview">@Model.Posts[i + 2].PreviewText</p>
        </div>
    </a>
    }
</div>
}